body {
 font-family: Arial, sans-serif;
 margin: 40px;
}
table {
 border-collapse: collapse;
 width: 80%;
}
th {
 background: #4CAF50;
 color: white;
}
td, th {
 border: 1px solid #ddd;
 padding: 8px;
}